<footer class="text-muted">
    <div class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>
            <%= link_to "View all portfolios items", portfolios_path %> /
            <%= copyright_generator %>
        </p>
    </div>
</footer>